
# PlanAhead Generated physical constraints 

NET "MCLK" LOC = T9;    # Oscillator Source - 50 MHz (IC4)
NET "RESET" LOC = L14;    # Push Button - BTN3 (User Reset)
NET "HS" LOC = G12;    # Switch - SW1
NET "FS" LOC = F12;    # Switch - SW0

NET "LED[7]" LOC = P11;    # LED - LD7
NET "LED[6]" LOC = P12;    # LED - LD6
NET "LED[5]" LOC = N12;    # LED - LD5
NET "LED[4]" LOC = P13;    # LED - LD4
NET "LED[3]" LOC = N14;    # LED - LD3
NET "LED[2]" LOC = L12;    # LED - LD2
NET "LED[1]" LOC = P14;    # LED - LD1
NET "LED[0]" LOC = K12;    # LED - LD0

NET "ANODE[3]" LOC = E13;    # Anode Control - AN3
NET "ANODE[2]" LOC = F14;    # Anode Control - AN2
NET "ANODE[1]" LOC = G14;    # Anode Control - AN1
NET "ANODE[0]" LOC = D14;    # Anode Control - AN0

NET "SEG[7]" LOC = E14;    # Segment - A
NET "SEG[6]" LOC = G13;    # Segment - B
NET "SEG[5]" LOC = N15;    # Segment - C
NET "SEG[4]" LOC = P15;    # Segment - D
NET "SEG[3]" LOC = R16;    # Segment - E
NET "SEG[2]" LOC = F13;    # Segment - F
NET "SEG[1]" LOC = N16;    # Segment - G
NET "SEG[0]" LOC = P16;    # Segment - DP
